<?xml version="1.0"?>
<config>
	<modules>
		<Olegnax_BlogMod>
			<version>1.0.0</version>
		</Olegnax_BlogMod>
	</modules>
	<frontend>
	</frontend>
	<admin>
        <routers>
            <blog_admin>
                <args>
                    <modules>
                        <Olegnax_BlogMod before="AW_Blog">Olegnax_BlogMod</Olegnax_BlogMod>
                    </modules>
                </args>
            </blog_admin>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <olegnaxblogmod>
                        <type>singleton</type>
                        <class>olegnaxblogmod/observer</class>
                        <method>formHook</method>
                    </olegnaxblogmod>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
	<global>
		<blocks>
			<olegnaxblogmod>
				<class>Olegnax_BlogMod_Block</class>
			</olegnaxblogmod>
            <blog>
                <rewrite>
                    <cat>Olegnax_BlogMod_Block_Cat</cat>
                    <post>Olegnax_BlogMod_Block_Post</post>
                    <menu_sidebar>Olegnax_BlogMod_Block_Menu_Sidebar</menu_sidebar>
                    <blog>Olegnax_BlogMod_Block_Blog</blog>
                </rewrite>
            </blog>
		</blocks>
		<helpers>
			<olegnaxblogmod>
				<class>Olegnax_BlogMod_Helper</class>
			</olegnaxblogmod>
		</helpers>
        <models>
			<olegnaxblogmod>
				<class>Olegnax_BlogMod_Model</class>
			</olegnaxblogmod>
		</models>
        <resources>
             <olegnaxblogmod_setup>
                <setup>
                    <module>Olegnax_BlogMod</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </olegnaxblogmod_setup>
		    <olegnaxblogmod_write>
		        <connection><use>core_write</use></connection>
		    </olegnaxblogmod_write>
		    <olegnaxblogmod_read>
		        <connection><use>core_read</use></connection>
		    </olegnaxblogmod_read>
		</resources>
	</global>
	<default>
		<blog>
			<blog>
				<layout>page/2columns-right.phtml</layout>
				<parse_cms>1</parse_cms>
				<perpage>10</perpage>
				<blogcrumbs>1</blogcrumbs>
			</blog>
            <menu>
				<right>2</right>
				<top>1</top>
				<recent>3</recent>
				<category>1</category>
			</menu>
		</blog>
	</default>
</config>